* {
    font-family: "Roboto Thin", sans-serif;
    color: black;
}

body {
    background: mintcream;
}

.logo{
    width: 40px;
    margin-right: 10px;
}
.sale-real-price {
    text-decoration: line-through;
    color: red;
}
.sale-offer-price {
    color: darkgreen;
}


#navbarMenu {
    background: transparent;
}

#nav {
    background: lightseagreen;
}


#btnProductos {
    color: whitesmoke;
}

#btnProductos:hover {
    color: black;
}

#btnProductos:active {
    color: black;
}

#btnPrincipal{
    color: whitesmoke;
}

#btnPrincipal:hover {
    color: black;
}

#btnServicios {
    color: whitesmoke;
}

#btnServicios:hover{
    color: black;
}

#btnLogin{
    color: whitesmoke;
}

#btnLogin:hover{
    color: black;
}

#btnLogin:active{
    color: black;
}


#btnRegistro{
    color: whitesmoke;
}

#btnRegistro:hover{
    color: black;
}

#btnRegistro:active{
    color: black;
}

.card-img-top{
    height: 300px !important;
    max-width: 300px !important;
}
.form {
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    justify-content: center;
    margin-bottom: 0.5em;
    border-color: #39bda7;
}

.form--input {
    width: 100%;
    margin-bottom: 1.25em;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.form--input:focus {
    border: 1px solid #39bda7;
    outline: none;
}

.form--marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 1.25em;
    align-items: center;
}

.form--marketing > input {
    margin-right: 0.625em;
}

.form--marketing > label {
    color: grey;
}

.checkbox, input[type="checkbox"] {
    accent-color: #39bda7;
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.button {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

.button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}